{% extends "base.html" %}
{% block content %}

<div class="container mt-3">


    <div class="alert alert-primary text-center mt-3" role="alert">
        Select the answers based on how well each statement describes you.
    </div>

    <form method="post">
        {% csrf_token %}
        {% for question in page_obj %}
            <div class="card mb-3">
                <div class="card-header bg-light">
                    <h5 class="mb-1 text-center">{{ question.text }}</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        {% for value, text in choices %}
                            <div class="form-check mb-2 mb-md-0">
                                <input class="form-check-input" type="radio" name="response_{{ question.id }}" id="response_{{ question.id }}_{{ value }}" value="{{ value }}" required>
                                <label class="form-check-label" for="response_{{ question.id }}_{{ value }}">
                                    {{ text }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="text-center">
            {% if page_obj.has_previous %}
                <button type="submit" name="page" value="{{ page_obj.previous_page_number }}" class="btn btn-lg btn-primary btn-block">Previous</button>
            {% endif %}
            {% if page_obj.has_next %}
                <button type="submit" name="page" value="{{ page_obj.next_page_number }}" class="btn btn-lg btn-primary btn-block">Next</button>
            {% else %}
            <button type="submit" name="submit" class="btn btn-lg btn-primary btn-block">Submit Responses</button>
            {% endif %}
        </div>
    </form>

    <div class="text-center">
        <span class="badge bg-primary">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    </div>

</div>

{% endblock %}
