


.number-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the circle */
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

/* Full width image container and image styles */
.full-width-image-container {
    width: 100%;
    padding-top: 25%; /* Adjust the percentage to control the height */
    position: relative;
}

.full-width-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

